<div id="venue_information">


<div id="vi_float_left_top">

<div id="vi_bookmark_button">
        <%= render(:partial => 'home/bookmark_button_form') %>
</div>
<div id="vi_bookmark_button_notice">

</div>

<div id="rep_and_sens_pictures">
	<div id="rep_image_info_div">
		<div class="red congress_type_title"> Representative </div>
        	<%= image_tag(@rep_image_ref, alt: "rep_image", width: "100%") %>
		<div id="rep_name"> 
			<%= @rep.first_name %> <%= @rep.middle_name %> <%= @rep.last_name %> <%= @rep.name_suffix %>(<%= @rep.party %>)
		</div>
		<div id="rep_district">
			District: <%= @rep.district %>		
		</div>
		
	</div>
	<div id="sen_senior_image_info_div">
		<div class="red congress_type_title"> Senator </div>
        	<%= image_tag(@sen_senior_image_ref, alt: "sen_senior_image", width: "100%") %>
		<div id="sen_senior_name"> 
			<%= @sen_sen.first_name %> <%= @sen_sen.middle_name %> <%= @sen_sen.last_name %> <%= @sen_sen.name_suffix %>(<%= @sen_sen.party %>) 
		</div>
		<div id="sen_sen_rank_and_class">
			Rank: <%= @sen_sen.state_rank %>, Class: <%= @sen_sen.senate_class %>	
		</div>
	</div>
	<div id="sen_junior_image_info_div">
		<div class="red congress_type_title"> Senator </div>
        	<%= image_tag(@sen_junior_image_ref, alt: "rep_junior_image", width: "100%") %>
		<div id="sen_junior_name"> 
			<%= @sen_jun.first_name %> <%= @sen_jun.middle_name %> <%= @sen_jun.last_name %> <%= @sen_jun.name_suffix %>(<%= @sen_jun.party %>) 
		</div>	
		<div id="sen_jun_rank_and_class">
                        Rank: <%= @sen_jun.state_rank %>, Class: <%= @sen_jun.senate_class %>
                </div>
	</div>
</div>

</div> <!-- end div#vi_float_left_top -->

<div id="vi_float_right_top">	
<div id="vi_address">
	<%= @venue.address %>
</div>


<div id="vi_google_static_map">

	<%= image_tag "http://maps.google.com/maps/api/staticmap?size=617x400&sensor=false&zoom=6&markers=#{@venue.latitude}%2C#{@venue.longitude}" %>
	<%#= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@venue.latitude}%2C#{@venue.longitude}" %>

</div>
</div> <!-- end div#vi_float_right_top -->

</div>
